<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- Inversion of Control (Spring Framework)

         Spring Framework - обширный набор инструментов для работы с БД, веб-приложениями, безопасностью и т.д.

         Spring IoC (Inversion of Control) - с помощью данного модуля мы осуществляем передачу управления над объектами с помощью Spring Framework

         Bean - каждый отдельный bean представляет реализацию отдельного объекта -->

    <bean class="spring.lesson13.part1.entity.Human" id="Ivan">
        <constructor-arg name="name" value="Ivan"/>
        <constructor-arg name="age" value="25"/>
        <constructor-arg name="hp" value="100"/>
        <property name="weapon" ref="LegendaryMysticPan"/>
    </bean>

    <bean class="spring.lesson13.part1.entity.Weapon" id="Axe">
        <property name="type" value="Axe"/>
        <property name="damage" value="10"/>
        <property name="weight" value="10"/>
    </bean>

    <bean class="spring.lesson13.part1.entity.Weapon" id="LegendaryMysticPan">
        <property name="type" value="LegendaryMysticPan"/>
        <property name="damage" value="5000"/>
        <property name="weight" value="1"/>
    </bean>

</beans>