<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>WebClient</title>

        <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    </head>
    <body>
        <fieldset>
            <legend>Добавление студента</legend>
            <form id="student" th:action="@{/create}" th:object="${student}" method="post">
                <p><input placeholder="Введите имя" type="text" th:field="*{name}"/></p>
                <p><input placeholder="Введите фамилия" type="text" th:field="*{surname}"/></p>
                <p><input placeholder="Введите возраст" type="number" th:field="*{age}"/></p>
                <input type="submit" value="Добавить"/>
            </form>
        </fieldset>
    </body>
</html>
